In [1]:
from datetime import datetime
datetime(year=2015,month=7,day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [2]:
from dateutil import parser
date parser.parse('4th of July,2015')
date

SyntaxError: invalid syntax (<ipython-input-2-0cc8f7521a96>, line 2)

In [3]:
from dateutil import parser
date = parser.parse('4th of July,2015')
date

datetime.datetime(2015, 7, 4, 0, 0)

In [4]:
date.strftime('%A')

'Saturday'

In [5]:
import numpy as np

In [6]:
date = np.array(['2015-07-04',dtype=datetime64])
date

SyntaxError: invalid syntax (<ipython-input-6-0d8a98f2188a>, line 1)

In [7]:
date = np.array(['2015-07-04',dtype=np.datetime64])
date

SyntaxError: invalid syntax (<ipython-input-7-731de9443947>, line 1)

In [8]:
date = np.array('2015-07-04',dtype=datetime64)
date

NameError: name 'datetime64' is not defined

In [9]:
date = np.array('2015-07-04',dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [10]:
date+np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [11]:
import pandas as pd
index = pd.DatetimeIndex(['2014-07-04','2014-08-04','2015-07-04','2015-08-04'])
data = pd.Series([0,1,2,3],index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [12]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [13]:
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [14]:
dates = pd.to_datetime([datetime(2015,7,3),'4th of July,2015','2015-Jul-6','07-07-2015','20150708'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [15]:
dates.to_period('D')

PeriodIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]', freq='D')

In [16]:
dates.to_period('M')

PeriodIndex(['2015-07', '2015-07', '2015-07', '2015-07', '2015-07'], dtype='period[M]', freq='M')

In [17]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [18]:
pd.date_range('2015-07-03','2015-08-01')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12', '2015-07-13', '2015-07-14',
               '2015-07-15', '2015-07-16', '2015-07-17', '2015-07-18',
               '2015-07-19', '2015-07-20', '2015-07-21', '2015-07-22',
               '2015-07-23', '2015-07-24', '2015-07-25', '2015-07-26',
               '2015-07-27', '2015-07-28', '2015-07-29', '2015-07-30',
               '2015-07-31', '2015-08-01'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range('2015-07-03',periods=10)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range('2015-07-04',periods=8,freq='H')

DatetimeIndex(['2015-07-04 00:00:00', '2015-07-04 01:00:00',
               '2015-07-04 02:00:00', '2015-07-04 03:00:00',
               '2015-07-04 04:00:00', '2015-07-04 05:00:00',
               '2015-07-04 06:00:00', '2015-07-04 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [21]:
pd.date_range('2015-7',periods=8,freq='M')

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29'],
              dtype='datetime64[ns]', freq='M')

In [22]:
pd.date_range('2015-07',periods=8,freq='M')

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29'],
              dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range(0,periods=10,freq='H')

DatetimeIndex(['1970-01-01 00:00:00', '1970-01-01 01:00:00',
               '1970-01-01 02:00:00', '1970-01-01 03:00:00',
               '1970-01-01 04:00:00', '1970-01-01 05:00:00',
               '1970-01-01 06:00:00', '1970-01-01 07:00:00',
               '1970-01-01 08:00:00', '1970-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')