In [1]:
def a():
    print('a')
def b():
    print('b')
def c(funcs):
    funcs[0]()
    funcs[1]()
funcs = (a,b)
c(funcs)

a
b

In [5]:
class fun:
    def a():
        print('a')
    def b():
        print('b')
    def c():
        funcs = (a,b)
        funcs[0]()
        funcs[1]()

In [4]:
f = fun()
f.c()

TypeError: c() takes 0 positional arguments but 1 was given

In [6]:
f.a()

TypeError: a() takes 0 positional arguments but 1 was given

In [7]:
f = fun()

In [17]:
f.a

In [9]:
f.type

AttributeError: 'fun' object has no attribute 'type'

In [18]:
import numpy as np
import pandas as pd

In [19]:
x = pd.DataFrame(-1 + 2 * np.random.rand(40, 20)) * 100

In [20]:
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-68.336618,-56.516096,40.633495,-23.031899,-66.371961,53.077649,-40.006809,74.559225,-48.192007,19.681936,18.444378,-71.190456,10.235460,51.310819,60.867045,-71.661726,58.379296,-3.023769,-2.434941,77.549360
1,-57.641497,66.747503,87.105139,66.915396,-36.979013,-91.908376,-5.243890,54.417059,-20.335050,51.997439,-72.808169,-79.656995,79.452916,20.892487,-46.752667,35.820128,38.486094,-75.944776,-77.187130,49.472744
2,22.655870,-98.540574,56.975050,-45.831969,7.132427,38.719652,76.485741,-76.571125,24.754570,64.441111,18.760394,10.994528,6.102976,64.902398,56.582231,87.921616,25.657121,42.903934,6.141948,79.522088
3,20.918457,16.531901,67.319851,-25.808555,-47.597621,41.478751,-49.344975,-2.373734,88.797315,73.561500,-43.990152,-57.893408,-83.989138,6.710308,19.593814,-83.116828,-34.990366,80.863925,51.860537,68.962361
4,34.738297,29.133970,-61.506244,42.061419,-92.736071,-75.255823,82.823934,77.235183,98.933034,49.850778,-8.503941,86.621485,-40.612735,-71.509015,-28.631492,-24.520829,-21.925666,20.155960,-83.898335,6.341655
5,-42.482519,-1.440097,13.235240,11.496078,-79.964925,81.357164,-7.267984,-47.072527,-81.299397,-98.924904,6.258965,72.139130,-6.465674,-54.582384,98.470188,50.365149,-69.607354,87.805790,12.508820,40.274243
6,-94.105100,26.302038,77.329621,74.959068,-6.785726,-12.412094,90.049835,20.546543,80.318348,98.577564,38.824850,85.245737,99.380867,-15.502902,-55.195548,-47.531821,73.622881,54.121797,-85.293821,-96.003033
7,-91.651437,-66.668659,-25.864092,89.155076,3.993435,98.543219,-77.066253,87.521381,10.475015,50.665972,13.520782,55.225370,-52.690732,35.359481,-51.473508,89.235346,-91.240599,2.048001,-31.382459,97.394264
8,14.869330,-77.351362,-13.034355,73.276242,-4.347534,-78.894307,27.830131,73.565781,-73.129292,-59.547589,16.807582,-54.381503,-61.281597,-49.358801,-49.839524,44.625344,-36.095506,50.914511,-41.813810,91.281315
9,-50.022064,-69.382095,52.409701,-3.055785,-14.360841,91.130993,-85.666452,-14.590857,80.223635,40.083574,-6.544264,60.626918,10.075433,4.736655,42.060436,79.682120,99.979424,-67.744973,-58.412626,75.076423
10,72.094969,-18.962275,-24.879187,-4.244772,33.225345,-18.145580,-9.141341,-1.504573,-43.042926,3.664696,-58.823694,25.727595,-89.251330,-98.745513,-72.721867,-7.341879,-65.675750,97.923973,-14.854811,22.447619
11,23.970431,33.320557,-70.040885,85.984921,-70.424670,43.007815,49.185904,12.077386,57.667514,70.183257,-83.035213,-23.689479,75.944416,5.054659,5.770880,52.415053,-18.847074,35.616141,72.907338,41.246652
12,9.785661,-86.665795,10.309316,-2.876845,-46.594140,40.230200,12.410858,-25.505258,-97.180638,75.649712,-41.577237,-92.063479,-93.059994,48.406164,16.929129,-72.265882,36.793444,-94.257471,-31.383818,38.274693
13,45.817827,-0.532247,-27.283968,-84.533335,35.866489,30.504697,-74.414190,-76.921767,-82.699405,73.901995,24.876396,9.490678,26.425272,-6.277602,-5.250621,83.181212,77.777019,81.439417,-88.832287,85.407719
14,40.300325,93.468146,41.987970,88.257226,86.973341,55.646305,74.019246,35.469543,16.443910,45.921341,-20.875836,95.392043,20.092392,50.665679,50.791049,82.349899,0.633780,-13.132129,55.256259,71.863564
15,-83.674303,-73.249682,21.474439,-94.350477,-1.333618,3.234357,9.353146,-13.296905,40.623590,48.620211,-65.605533,2.017952,-48.100228,-71.957799,-81.156831,12.040665,81.340705,88.068625,-61.268256,70.485087
16,-18.364276,41.982762,-34.530302,96.267313,66.900154,22.048478,5.173431,-79.198935,58.925236,64.460873,51.586917,-54.116403,-11.865525,-21.969836,10.963628,-51.156035,-26.731676,-28.625703,-41.265735,10.860634
17,24.864455,64.831240,82.915266,-45.069058,-6.008079,-1.955773,-55.860862,26.948175,-72.676658,-4.053947,39.312290,55.146631,32.404698,-58.265755,-78.160499,-22.744037,-80.086910,-38.054604,-95.087245,-90.325220
18,-11.691197,58.841112,-88.333053,-50.853288,-28.335812,-13.140668,13.572018,79.139127,18.045280,-20.352243,-75.755655,-28.506430,8.332585,-22.537480,89.870108,-49.176277,-29.077792,-15.535248,-64.710746,-11.135424
19,-7.826589,-94.253548,28.014795,-48.599436,-14.403828,0.409986,-48.634808,-66.504450,12.155066,-83.516930,-67.518634,20.002906,-26.507940,31.172278,45.305308,-44.805015,-6.981529,-49.926762,29.484116,19.865521
20,-88.823356,62.538109,-75.341214,36.173742,5.897470,73.922392,-95.832413,-17.518927,66.789910,-24.849435,84.639984,59.035396,-89.780859,74.108765,40.639489,-32.162644,84.179462,-6.344330,78.508189,30.703800
21,-0.542949,85.268802,-43.850299,66.387985,58.016886,-91.997206,-81.700173,-99.170493,18.556536,46.853320,-14.679258,-99.295862,-36.368864,69.380381,-42.512289,-80.226507,5.341155,50.010822,52.047080,13.702837
22,-14.963162,23.780843,91.995711,89.055616,-20.479523,-21.209892,98.437725,64.682390,34.374826,-81.589668,-11.339077,-4.812950,-17.851708,93.253718,-14.057533,2.440034,6.446210,66.522467,-45.850222,-25.055946
23,-73.189178,6.003966,-29.628514,-68.158276,56.998667,-19.165683,-55.336469,-51.174030,78.085219,-21.214404,-57.917411,58.386800,-90.883670,17.149972,34.393953,74.881408,7.595339,99.720288,71.766997,97.709900
24,-69.759369,28.545162,-34.523488,0.594504,71.384531,32.499733,82.887181,-68.207706,-31.270841,0.431879,16.003163,-20.868560,-58.854492,76.592625,27.627495,-57.105961,11.430079,-24.521293,11.492673,25.768087
25,65.764914,-74.292247,-95.012591,96.140068,-55.784490,-11.341872,70.661622,82.933760,-77.496932,89.541218,-32.248106,34.061508,82.125720,13.226647,-56.982273,-18.345452,-62.981981,13.019115,-50.240398,77.050665
26,83.573142,19.315609,-86.755242,-28.853432,-72.454901,88.335917,-29.645470,-31.853677,-21.085203,48.910819,66.263199,-96.390955,51.808424,-6.395146,-50.686348,-51.453809,27.382328,-3.480623,67.758024,-39.089984
27,-98.768755,84.177087,99.138463,34.423033,0.049460,-18.948000,-22.663555,-67.008249,-95.924312,75.339725,-13.263650,-4.203753,-26.508460,-3.100068,27.004000,-82.999734,-62.679658,27.430422,-14.705658,-41.254116
28,-38.324164,-37.289730,23.355723,38.109391,40.626540,-61.904079,-53.244079,-66.959465,7.577182,48.557284,56.181711,72.312930,12.721896,70.403748,29.878943,-81.504376,-63.251098,7.615503,-86.772620,76.664230
29,-32.085373,-85.886405,27.269948,91.102818,-99.701733,22.800600,65.812884,-25.950023,-2.512221,-57.466789,72.022390,-65.182681,26.134298,67.847580,81.930344,-62.985847,20.216734,95.574709,83.901020,22.562706
30,49.159374,-43.570489,-77.962618,1.271746,-69.803566,80.151757,32.579868,62.558068,56.257121,90.644416,-27.111838,96.974269,-21.272122,-56.381131,36.027561,1.578788,-97.359218,89.344542,89.817219,-38.242888
31,-7.222276,-86.548376,93.832315,-22.119839,-9.055035,-0.518771,56.985415,-92.503984,-67.123966,34.434180,31.966441,96.744351,-54.150258,-59.399191,-62.124977,-69.172184,21.315229,-25.302623,-76.626691,-83.851192
32,-56.949446,-28.088149,-35.824765,61.857354,-16.440849,-8.261045,19.400490,-93.533451,75.448583,-60.414059,44.181335,35.704344,19.037989,87.031057,-42.700377,-8.311765,-42.034050,-85.908737,40.686001,-65.039181
33,-24.364636,-45.001119,-93.098047,26.421418,-71.940140,51.147883,85.826116,-46.440887,38.859250,-91.206490,33.544720,52.189645,31.451787,-46.597528,54.793906,57.208570,12.855631,-98.070270,42.378606,12.080820
34,44.115499,-48.471749,55.885248,54.549840,-75.010067,56.733573,3.482232,80.460194,-66.265110,-16.063749,-36.684528,-9.595825,0.959266,83.605110,90.028355,71.985587,32.813810,1.514461,-26.977510,-29.080416
35,-94.399833,-73.155528,91.739658,21.782165,84.446386,-86.753618,-32.634376,-0.474380,-85.897630,29.166545,27.992364,-31.745388,-97.288050,-48.071755,25.837277,-22.463442,-84.785933,-54.180683,43.058419,-4.556869
36,-53.126972,-27.808277,-20.492301,-86.278328,-73.720537,-99.957324,-79.275930,-49.385298,-52.437019,49.819566,84.224421,43.585443,-50.767000,84.953669,0.759137,14.471400,-85.614226,46.742972,89.286747,56.126891
37,97.673037,-48.930576,-22.417969,31.764479,82.843615,-48.091395,-80.045442,-96.819726,-35.484968,96.765332,54.014067,-0.559758,-89.972907,17.311499,-92.901069,-32.820000,-61.838831,-2.444944,-61.934210,92.473986
38,-50.183816,-25.035207,75.058056,-67.579784,-55.591087,52.417859,-80.253918,25.543947,-1.832624,42.441111,-89.359745,-1.727927,-58.604311,-96.234886,-31.630848,-46.074442,69.071189,-15.739928,34.980120,16.035787
39,-17.064719,-9.801660,-97.287790,54.058439,-37.970257,75.230353,97.121285,-58.898333,-82.392729,-95.205655,62.475297,-6.841244,18.702669,13.783072,67.714223,-49.072239,-14.917858,52.834924,-86.502564,6.331547

In [21]:
x.iloc[5]

0    -42.482519
1     -1.440097
2     13.235240
3     11.496078
4    -79.964925
5     81.357164
6     -7.267984
7    -47.072527
8    -81.299397
9    -98.924904
10     6.258965
11    72.139130
12    -6.465674
13   -54.582384
14    98.470188
15    50.365149
16   -69.607354
17    87.805790
18    12.508820
19    40.274243
Name: 5, dtype: float64

In [22]:
x.iloc[0]

0    -68.336618
1    -56.516096
2     40.633495
3    -23.031899
4    -66.371961
5     53.077649
6    -40.006809
7     74.559225
8    -48.192007
9     19.681936
10    18.444378
11   -71.190456
12    10.235460
13    51.310819
14    60.867045
15   -71.661726
16    58.379296
17    -3.023769
18    -2.434941
19    77.549360
Name: 0, dtype: float64

In [23]:
xi = np.zeros(20)
xi = x.iloc[0]

In [24]:
xi

0    -68.336618
1    -56.516096
2     40.633495
3    -23.031899
4    -66.371961
5     53.077649
6    -40.006809
7     74.559225
8    -48.192007
9     19.681936
10    18.444378
11   -71.190456
12    10.235460
13    51.310819
14    60.867045
15   -71.661726
16    58.379296
17    -3.023769
18    -2.434941
19    77.549360
Name: 0, dtype: float64

In [25]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
x.max()

0     97.673037
1     93.468146
2     99.138463
3     96.267313
4     86.973341
5     98.543219
6     98.437725
7     87.521381
8     98.933034
9     98.577564
10    84.639984
11    96.974269
12    99.380867
13    93.253718
14    98.470188
15    89.235346
16    99.979424
17    99.720288
18    89.817219
19    97.709900
dtype: float64

In [27]:
a = np.zeros(5)

In [28]:
a.max()

0.0

In [30]:
a = np.eye(4)

In [31]:
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [32]:
a.max()

1.0

In [33]:
b = pd.DataFrame(a)

In [34]:
b

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0

In [35]:
b.min()

0    0.0
1    0.0
2    0.0
3    0.0
dtype: float64

In [39]:
b.idxmin()

0    1
1    0
2    0
3    0
dtype: int64

In [38]:
b.idxmax

<bound method DataFrame.idxmax of      0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0>

In [40]:
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [41]:
b

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0

In [52]:
b.sort_values(by=[1])

     0    1    2    3
0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0
1  0.0  1.0  0.0  0.0

In [53]:
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [54]:
a[0]

array([1., 0., 0., 0.])

In [55]:
b

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0

In [56]:
b[0].sort

AttributeError: 'Series' object has no attribute 'sort'

In [57]:
b[0].sort_values()

1    0.0
2    0.0
3    0.0
0    1.0
Name: 0, dtype: float64

In [58]:
c = np.array([])

In [59]:
c.append('nihao')

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [62]:
np.random.randint?

In [63]:
np.random.sample?

In [64]:
i=0
i++

SyntaxError: invalid syntax (<ipython-input-64-22ce6d6d220d>, line 2)

In [65]:
c

array([], dtype=float64)

In [66]:
c = np.array([1,2,3])

In [67]:
0 % 10

0

In [68]:
c[1:]

array([2, 3])

In [69]:
b

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  0.0  1.0

In [70]:
c = b[0]

In [71]:
c

0    1.0
1    0.0
2    0.0
3    0.0
Name: 0, dtype: float64