In [1]:
import numpy as np
import pandas as pd

In [8]:
a = np.array([3,2,0])
a= pd.DataFrame(a)

In [9]:
a.sort_values(by=0)

   0
2  0
1  2
0  3

In [10]:
a = a.sort_values(by=0)

In [11]:
tempIndex = a.index

In [12]:
tempIndex

Int64Index([2, 1, 0], dtype='int64')

In [13]:
a[0]

2    0
1    2
0    3
Name: 0, dtype: int64

In [30]:
a.iloc[2]

0    3
Name: 0, dtype: int64

In [20]:
if(a.iloc[1]>a.iloc[0]):
    print('yes')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
np.zeros(0)

array([], dtype=float64)

In [34]:
np.append?

In [36]:
np.append(a,5)

array([0, 2, 3, 5])

In [37]:
from matplotlib import pylot as plt

ImportError: cannot import name 'pylot'

In [39]:
from matplotlib import pyplot as plt

In [40]:
plt.tick_params?

In [41]:
plt.savefig?